@model Automarket.Domain.Entity.Car
@{
    ViewData["Title"] = "GetCAr";
    Layout = "_Layout";
}

<p>@Model.Brend</p>
<p>@Model.Model</p>
<p>@Model.Generation</p>
<p>@Model.Power</p>
<p>@Model.Price</p>
<p>@Model.TypeCar</p>
<p>@Model.Calour</p>



